@model TeamManagement.Web.Models.ContactDetails

@using (Html.BeginForm("SaveContactDetails", "Player", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "personal_details" }))
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <div class="col-xs-6">
        <br />
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.Cell, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Cell, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Cell, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.HomeNumber, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.HomeNumber, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.HomeNumber, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.EmailAdress, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.EmailAdress, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.EmailAdress, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-xs-6">
                <h4><strong>Physical Address</strong></h4>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <input type="checkbox" hidden />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PhysicalAddressLine1, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhysicalAddressLine1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhysicalAddressLine1, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PhysicalAddressLine2, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhysicalAddressLine2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhysicalAddressLine2, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PhysicalAddressLine3, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhysicalAddressLine3, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.PhysicalAddressLine3, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PhysicalAddressLine4, new { @class = "control-label"})
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhysicalAddressLine4, new { @class = "form-control"})

                @Html.ValidationMessageFor(m => m.PhysicalAddressLine4, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PhysicalPostalCode, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.PhysicalPostalCode, null, new { @class = "errorMessage" })
            </div>
        </div>

    </div>

    <div class="col-xs-6">
        <br />
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.FaxNumber, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.FaxNumber, null, new { @class = "errorMessage" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.WorkNumber, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.WorkNumber, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.WorkNumber, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.AlternativeEmailAdress, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.AlternativeEmailAdress, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.AlternativeEmailAdress, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <h4><strong>Postal Address</strong></h4>
            </div>
        </div>
        <div class="form-group">


            <div class="col-xs-6">
                @Html.CheckBoxFor(m => m.ISAddressTheSame, new { @id = "ISAddressTheSame" }) @Html.LabelFor(m => m.ISAddressTheSame)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PostalAddressLine1, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PostalAddressLine1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalAddressLine1, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PostalAddressLine2, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PostalAddressLine2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalAddressLine2, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PostalAddressLine3, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PostalAddressLine3, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.PostalAddressLine3, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PostalAddressLine4, new { @class = "control-label" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PostalAddressLine4, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.PostalAddressLine4, null, new { @class = "errorMessage" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.PostalPostalCode, new { @class = "control-label", @required = "required" })
            </div>

            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PostalPostalCode, new { @class = "form-control", @required = "required" })

                @Html.ValidationMessageFor(m => m.PostalPostalCode, null, new { @class = "errorMessage" })
            </div>
        </div>

    </div>
}

